@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

*{
    font-family:'Montserrat', sans-serif;
    margin: 0px;
    box-sizing: border-box;
}
header{
    background-color: #161819;
    text-align: center;
    color: white;
    padding: 30px;
    margin-bottom: 50px;
    width: 100%;
}

h1{
    font-weight: 600;
    line-height: 40px;
}

h2{
    font-weight: 400;
    line-height: 40px;
}

.button{
    border: #161819 solid 3px;
    border-radius: 5px;
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    
}

div>a{
    color: #161819;
    text-decoration: none;
}

footer{
    background-color: #161819;
    position:absolute;
    width: 100%;
    bottom: 0px;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
}